<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> Heart Disease Prediction </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

	<!-- CSS here -->
	<link rel="stylesheet" href="../static/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/assets/css/owl.carousel.min.css">
	<link rel="stylesheet" href="../static/assets/css/slicknav.css">
    <link rel="stylesheet" href="../static/assets/css/flaticon.css">
    <link rel="stylesheet" href="../static/assets/css/gijgo.css">
    <link rel="stylesheet" href="../static/assets/css/animate.min.css">
    <link rel="stylesheet" href="../static/assets/css/animated-headline.css">
	<link rel="stylesheet" href="../static/assets/css/magnific-popup.css">
	<link rel="stylesheet" href="../static/assets/css/fontawesome-all.min.css">
	<link rel="stylesheet" href="../static/assets/css/themify-icons.css">
	<link rel="stylesheet" href="../static/assets/css/slick.css">
	<link rel="stylesheet" href="../static/assets/css/nice-select.css">
	<link rel="stylesheet" href="../static/assets/css/style.css">

	
	
</head>
<body>
    <!-- ? Preloader Start -->
    <!--<div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="../static/assets/img/logo/loder.png" alt="">
                </div>
            </div>
        </div>
    </div>-->
    <!-- Preloader Start -->
<header>
    <!--? Header Start -->
    <div class="header-area">
        <div class="main-header header-sticky">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <!-- Logo -->
                    <div class="col-xl-2 col-lg-2 col-md-1">
                        <div class="logo">
                            <a href="index.html"><img src="../static/assets/img/logo/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10">
                        <div class="menu-main d-flex align-items-center justify-content-end">
                            <!-- Main-menu -->
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                       <li><a href="/admin">Home</a></li>
                                        <li><a href="/view_doc">Doctors</a></li>
		 								 <li><a href="/view_data">Data</a></li>
         									 <li><a href="/logout">Logout</a></li>
                                        
                                    </ul>
                                </nav>
                            </div>
                            <div class="header-right-btn f-right d-none d-lg-block ml-30">
                                <a href="/register" class="btn header-btn">Register</a>
                            </div>
                        </div>
                    </div>   
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>
<main>
    <!--? Hero Start -->
    <div class="slider-area2">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap hero-cap2 text-center">
                        <h2>Heart Disease Prediction</h2>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    <!--? About Start-->
    
    <!-- About  End-->
    <!--? All startups Start -->
   
    <!--All startups End -->
    <!--? Gallery Area Start -->
    
    <!-- Gallery Area End -->
     <!--? Contact form Start -->
	 
 <h2 align="center">SVM Classification</h2>
  <table width="90%" border="1" align="center">
    <tr>
      <td align="center"><p>Age</p>
        <table width="60%" border="1">
          <tr>
            <th align="center">Sick</th>
            <th align="center">Symptoms</th>
            <th align="center">Healthy</th>
          </tr>
          <tr>
            <td align="center">{{c13}}</td>
            <td align="center">{{c12}}</td>
            <td align="center">{{c11}}</td>
          </tr>
        </table>        
      <p>&nbsp;</p></td>
    </tr>
    <tr>
      <td align="center"><p>Sex</p>
        <table width="60%" border="1">
          <tr>
            <td>Male</td>
            <td>Female</td>
          </tr>
          <tr>
            <td>{{f1}}</td>
            <td>{{f2}}</td>
          </tr>
        </table>        
      <p>&nbsp;</p></td>
    </tr>
    <tr>
      <td align="center"><p>Chest Pain Type </p>
        <table width="451" border="1">
          <tr>
            <td>Sick</td>
            <td>Symptoms</td>
            <td>Healthy</td>
          </tr>
          <tr>
            <td>Typical angin, Atypical angina</td>
            <td>Non-anginal chest pain</td>
            <td>Asymptomatic chest pain</td>
          </tr>
        </table>        
      <p>&nbsp;</p></td>
    </tr>
    <tr>
      <td align="center"><p>Resting Blood Pressure </p>
        <table width="289" border="1">
          <tr>
            <td width="71">Sick</td>
            <td width="108">Symptoms</td>
            <td width="88">Healthy</td>
          </tr>
          <tr>
            <td>{{c33}}</td>
            <td>{{c32}}</td>
            <td>{{c31}}</td>
          </tr>
        </table>        <p>&nbsp;</p></td>
    </tr>
    <tr>
      <td align="center"><p>Serum Cholestrol </p>
        <table width="289" border="1">
          <tr>
            <td width="71">Sick</td>
            <td width="108">Symptoms</td>
            <td width="88">Healthy</td>
          </tr>
          <tr>
            <td>{{c53}}</td>
            <td>{{c52}}</td>
            <td>{{c51}}</td>
          </tr>
        </table>        <p>&nbsp;</p></td>
    </tr>
    <tr>
      <td align="center"><p>Fasting Blood sugar </p>
        <table width="369" border="1">
          <tr>
            <td width="71">Normal -  0 &lt;=120 mg /dl </td>
            <td width="88">Severe -  1 &gt;=120 mg/dl </td>
          </tr>
          <tr>
            <td>{{c61}}</td>
            <td>{{c62}}</td>
          </tr>
        </table>        
        <p>&nbsp;</p></td>
    </tr>
    <tr>
      <td align="center"><p>Resting ECG Result </p>
        <p>0-normal, 1-having ST T wave abnormal, 2- left verticular hypertrophy </p>
        <table width="364" border="1">
          <tr>
            <td width="71">Sick</td>
            <td width="108">Symptoms</td>
            <td width="88">Healthy</td>
          </tr>
          <tr>
            <td>{{c75}}<br>{{c74}}</td>
            <td>{{c73}}</td>
            <td>{{c72}}<br>{{c71}}</td>
          </tr>
        </table>        <p>&nbsp;</p></td>
    </tr>
    <tr>
      <td align="center"><p>Max heart rate achieved </p>
        <table width="403" border="1">
          <tr>
            <td width="71">Sick</td>
            <td width="108">Symptoms</td>
            <td width="88">Healthy</td>
          </tr>
          <tr>
            <td>{{c83}}</td>
            <td>{{c82}}</td>
            <td>{{c81}}</td>
          </tr>
        </table>        <p>&nbsp;</p></td>
    </tr>
    <tr>
      <td align="center"><p>Excercisse included Angina </p>
        <table width="284" border="1">
          <tr>
            <td width="71">Normal - 0 </td>
            <td width="108">Severe - 1 </td>
          </tr>
          <tr>
            <td>{{c92}}</td>
            <td>{{c91}}</td>
          </tr>
        </table>        
        <p>&nbsp;</p></td>
    </tr>
    <tr>
      <td align="center"><p>Slope of the Peak excercise</p>
        <table width="370" border="1">
          <tr>
            <td width="71">Sick</td>
            <td width="108">Symptoms</td>
            <td width="88">Healthy</td>
          </tr>
          <tr>
            <td>{{c103}}</td>
            <td>{{c102}}</td>
            <td>{{c101}}</td>
          </tr>
        </table>        <p>&nbsp;</p>
      </td>
    </tr>
    <tr>
      <td align="center"><p>ST depression (0 to 6.2) </p>
        <table width="389" border="1">
          <tr>
            <td width="71">Sick</td>
            <td width="108">Symptoms</td>
            <td width="88">Healthy</td>
          </tr>
          <tr>
            <td>{{c113}}</td>
            <td>{{c112}}</td>
            <td>{{c111}}</td>
          </tr>
        </table>
        <p>&nbsp;</p></td>
    </tr>
    <tr>
      <td align="center"><p>Thal</p>
        <table width="405" border="1">
          <tr>
            <td width="71">Sick</td>
            <td width="108">Symptoms</td>
            <td width="88">Healthy</td>
          </tr>
          <tr>
            <td>{{c133}}</td>
            <td>{{c132}}</td>
            <td>{{c131}}</td>
          </tr>
        </table>        <p>&nbsp;</p></td>
    </tr>
    <tr>
      <td align="center"><p>Number of major vessels </p>
        <table width="494" border="1">
          <tr>
            <td width="71">Sick (3/4) </td>
            <td width="108">Symptoms (2) </td>
            <td width="88">Healthy (0/1)</td>
          </tr>
          <tr>
            <td>{{c145}} - 4 <br>
            {{c144}}- 3 </td>
            <td>{{c143}} -2 </td>
            <td>{{c142}} - 1 <br>
            {{c141}} - 0 </td>
          </tr>
        </table>        <p>&nbsp;</p></td>
    </tr>
   
  </table>
  
    
    <!-- Contact form End -->
    <!--? gallery Products Start -->
   
    <!-- gallery Products End -->
     <!--? Team Start -->
   
    <!-- Team End -->
    </main>
    <footer>
        <!--? Footer Start-->
        <div class="footer-area section-bg" data-background="../static/assets/img/gallery/footer_bg.jpg">
            <div class="container">
                <div class="footer-top footer-padding">
                    <div class="row d-flex justify-content-between">
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-8">
                            <div class="single-footer-caption mb-50">
                                <!-- logo -->
                                <div class="footer-logo">
                                    <a href="index.html"><img src="../static/assets/img/logo/logo2_footer.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-5">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>About Us</h4>
                                    <div class="footer-pera">
                                        <p class="info1">Lorem igpsum doldfor sit amet, adipiscing elit, sed do eiusmod tempor cergelit rgh. </p>
                                        <p class="info1">Lorem ipsum dolor sit amet, adipiscing elit.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-number mb-50">
                                    <h4><span>+564 </span>7885 3222</h4>
                                    <p>youremail@gmail.com</p>
                                </div>
                                <!-- Form -->
                                <div class="footer-form">
                                    <div id="mc_embed_signup">
                                        <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative mail_part" novalidate="true">
                                            <input type="email" name="EMAIL" id="newsletter-form-email" placeholder=" Email Address " class="placeholder hide-on-focus" onFocus="this.placeholder = ''" onBlur="this.placeholder = 'Your email address'">
                                            <div class="form-icon">
                                                <button type="submit" name="submit" id="newsletter-submit" class="email_icon newsletter-submit button-contactForm">
                                                    Send
                                                </button>
                                            </div>
                                            <div class="mt-10 info"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-xl-9 col-lg-8">
                            <div class="footer-copy-right">
                                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Heart Disease Prediction <a href="https://colorlib.com" target="_blank"></a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4">
                            <!-- Footer Social -->
                            <div class="footer-social f-right">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fas fa-globe"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
    <!-- Scroll Up -->
    <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- JS here -->

    <script src="../static/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="../static/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="../static/assets/js/popper.min.js"></script>
    <script src="../static/assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="../static/assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="../static/assets/js/owl.carousel.min.js"></script>
    <script src="../static/assets/js/slick.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="../static/assets/js/wow.min.js"></script>
    <script src="../static/assets/js/animated.headline.js"></script>
    <script src="../static/assets/js/jquery.magnific-popup.js"></script>

    <!-- Date Picker -->
    <script src="../static/assets/js/gijgo.min.js"></script>
    <!-- Nice-select, sticky -->
    <script src="../static/assets/js/jquery.nice-select.min.js"></script>
    <script src="../static/assets/js/jquery.sticky.js"></script>
    
    <!-- counter , waypoint -->
    <script src="../static/assets/js/jquery.counterup.min.js"></script>
    <script src="../static/assets/js/waypoints.min.js"></script>
    <script src="../static/assets/js/jquery.countdown.min.js"></script>
    <!-- contact js -->
    <script src="../static/assets/js/contact.js"></script>
    <script src="../static/assets/js/jquery.form.js"></script>
    <script src="../static/assets/js/jquery.validate.min.js"></script>
    <script src="../static/assets/js/mail-script.js"></script>
    <script src="../static/assets/js/jquery.ajaxchimp.min.js"></script>
    
    <!-- Jquery Plugins, main Jquery -->	
    <script src="../static/assets/js/plugins.js"></script>
    <script src="../static/assets/js/main.js"></script>
    
    </body>
</html>