<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Heart Disease Prediction</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="manifest" href="site.webmanifest" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="assets/img/favicon.ico"
    />

    <!-- CSS here -->
    <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/assets/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="../static/assets/css/slicknav.css" />
    <link rel="stylesheet" href="../static/assets/css/flaticon.css" />
    <link rel="stylesheet" href="../static/assets/css/gijgo.css" />
    <link rel="stylesheet" href="../static/assets/css/animate.min.css" />
    <link rel="stylesheet" href="../static/assets/css/animated-headline.css" />
    <link rel="stylesheet" href="../static/assets/css/magnific-popup.css" />
    <link
      rel="stylesheet"
      href="../static/assets/css/fontawesome-all.min.css"
    />
    <link rel="stylesheet" href="../static/assets/css/themify-icons.css" />
    <link rel="stylesheet" href="../static/assets/css/slick.css" />
    <link rel="stylesheet" href="../static/assets/css/nice-select.css" />
    <link rel="stylesheet" href="../static/assets/css/style.css" />
  </head>
  <body>
    <!-- ? Preloader Start -->
    <!--<div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="../static/assets/img/logo/loder.png" alt="">
                </div>
            </div>
        </div>
    </div>-->
    <!-- Preloader Start -->
    <header>
      <!--? Header Start -->
      <div class="header-area">
        <div class="main-header header-sticky">
          <div class="container-fluid">
            <div class="row align-items-center">
              <!-- Logo -->
              <div class="col-xl-2 col-lg-2 col-md-1">
                <div class="logo">
                  <a href="index.html"
                    ><img src="../static/assets/img/logo/LogoNew1.png" alt=""
                  /></a>
                </div>
              </div>
              <div class="col-xl-10 col-lg-10 col-md-10">
                <div
                  class="menu-main d-flex align-items-center justify-content-end"
                >
                  <!-- Main-menu -->
                  <div class="main-menu f-right d-none d-lg-block">
                    <nav>
                      <ul id="navigation">
                        <li><a href="/pat_home">Home</a></li>
                        <li><a href="/sugg">Suggestion</a></li>
                        <li><a href="/pat_test">Heart Disease Prediction</a></li>
                        <li><a href="/test">Diabetes Prediction</a></li>
                        <li><a href="/logout">Logout</a></li>
                      </ul>
                    </nav>
                  </div>
                  <div class="header-right-btn f-right d-none d-lg-block ml-30">
                    <!-- <a href="/register" class="btn header-btn">Register</a>-->
                  </div>
                </div>
              </div>
              <!-- Mobile Menu -->
              <div class="col-12">
                <div class="mobile_menu d-block d-lg-none"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Header End -->
    </header>
    <main>
      <!--? Hero Start -->
      <!-- <div class="slider-area2">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap hero-cap2 text-center">
                        <h2>Heart Disease Prediction</h2>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>-->
      <!-- Hero End -->
      <!--? About Start-->

      <!-- About  End-->
      <!--? All startups Start -->

      <!--All startups End -->
      <!--? Gallery Area Start -->

      <!-- Gallery Area End -->
      <!--? Contact form Start -->

      <div class="contact-form-main">
        <div class="container">
          <div class="row justify-content-end">
            <div class="col-xl-7 col-lg-7">
              <div class="form-wrapper">
                <!--Section Tittle  -->
                <div class="form-tittle">
                  <div class="row">
                    <div class="col-xl-12">
                      <div class="section-tittle section-tittle2">
                        <span>Heart Disease</span>
                        <h2>Prediction</h2>
                      </div>
                    </div>
                  </div>
                </div>
                <!--End Section Tittle  -->
                <form id="contact-form" name="form1" action="" method="POST">
                  <div>
                    <div class="row">
                      <div class="col-lg-6 col-md-6">
                        <div class="form-box user-icon mb-30">
                          <input type="text" name="name" placeholder="Name" />
                        </div>
                      </div>

                      <div class="col-lg-6 col-md-6">
                        <div class="form-box user-icon mb-30">
                          <input
                            type="text"
                            name="age"
                            placeholder="Age"
                            required
                          />
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6">
                        <div class="form-box user-icon mb-30">
                          <input
                            type="text"
                            name="height"
                            placeholder="Height"
                            required
                          />
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6">
                        <div class="form-box user-icon mb-30">
                          <input
                            type="text"
                            name="weight"
                            placeholder="Weight"
                            required
                          />
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6">
                        <div class="form-box user-icon mb-30">
                          <select name="gender">
                            <option>Male</option>
                            <option>Female</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div
                      style="
                        display: flex;
                        flex-direction: column;
                        column-gap: 15px;
                      "
                    >
                      <div style="padding-top: 20px">
                        <select id="cp" name="cp">
                          <option value="0">No chest pain</option>
                          <option value="4">
                            Typical angina(Chest pain due to emotional or
                            physical stress
                          </option>
                          <option value="3">
                            Atypical angina(Discomfort in chest, no severe
                          </option>
                          <option value="2">
                            Non-anginal chest pain(Near sternum, oppressive or
                            pressure like(Discomfort in chest, no severe
                          </option>
                          <option value="1">
                            Asymptomatic chest pain(Select if the above are not
                            applicable)
                          </option>
                        </select>
                      </div>
                      <div>
                        <div style="padding-top: 20px">
                          <input
                            type="text"
                            id="trestbps"
                            name="trestbps"
                            placeholder="Your Blood Pressure"
                          />
                          <label>
                            Resting blood pressure (in mm Hg on admission to the
                            hospital) (94 to 200)
                          </label>
                        </div>
                      </div>

                      <div style="padding-top: 20px">
                        <input
                          type="text"
                          id="chol"
                          placeholder="Your Cholestrol"
                          name="chol"
                        />
                        <label>Serum Cholestrol in mg/dl - (126 to 564)</label>
                      </div>

                      <div style="padding-top: 20px">
                        <select id="fbs" name="fbs">
                          <option value="1">Yes</option>
                          <option value="0">No</option>
                        </select>
                        <label>Fasting blood sugar>120mg/dl</label>
                      </div>
                      <div style="padding-top: 20px">
                        <label>Rest ECG results</label>
                        <select id="restecg" name="restecg">
                          <option value="0">Normal</option>
                          <option value="1">
                            Having ST-T wave abnormality (T wave inversions
                            and/or ST elevation or depression of > 0.05 mV)
                          </option>
                          <option value="2">
                            Showing probable or definite left ventricular
                            hypertrophy by Estes' criteria
                          </option>
                        </select>
                      </div>
                      <div style="padding-top: 20px">
                        <input
                          type="text"
                          name="thalach"
                          placeholder="Heart Rate"
                          class="form-control"
                          required
                        />
                        <label>Max heart rate achieved (71 to 202)</label>
                      </div>
                      <div style="padding-top: 20px">
                        <select id="exang" name="exang">
                          <option value="1">Yes</option>
                          <option value="0">No</option>
                        </select>
                        <label>Excercise included Angina </label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6 col-md-6">
                        <div class="form-box user-icon mb-30">
                          <select id="oldpeak" name="oldpeak">
                            <option value="0">Unsloping</option>
                            <option value="1">Flat</option>
                            <option value="2">Downsloping</option>
                          </select>
                          <label>Slope of the Peak excercise </label>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6">
                        <div class="form-box user-icon mb-30">
                          <input type="text" name="slope" required />
                          <label>ST depression (0 to 6.2)</label>
                        </div>
                      </div>

                      <div class="col-lg-6 col-md-6">
                        <div class="form-box user-icon mb-30">
                          <select name="thal">
                            <option value="0">3-normal</option>
                            <option value="1">6-fixed</option>
                            <option value="2">7-reversible defect</option>
                          </select>
                          <label>Thal</label>
                        </div>
                      </div>

                      <div class="col-lg-6 col-md-6">
                        <div class="form-box user-icon mb-30">
                          <select name="num_vessal">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                          </select>
                          <label> Number of major vessels</label>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-12" style="padding-top: 20px">
                      <div class="submit-info">
                        <button class="btn" type="submit">
                          Submit Now <i class="ti-arrow-right"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </form>

                <h4>{{msg}}</h4>
              </div>
            </div>
          </div>
        </div>
        <!-- contact left Img-->
        <div class="from-left d-none d-lg-block">
          <img
            style="height: 1401px"
            src="../static/assets/img/gallery/FrameHeart.png"
            alt=""
          />
        </div>
      </div>
      <!-- Contact form End -->
      <!--? gallery Products Start -->

      <!-- gallery Products End -->
      <!--? Team Start -->

      <!-- Team End -->
    </main>

    <!-- JS here -->

    <script src="../static/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="../static/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="../static/assets/js/popper.min.js"></script>
    <script src="../static/assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="../static/assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="../static/assets/js/owl.carousel.min.js"></script>
    <script src="../static/assets/js/slick.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="../static/assets/js/wow.min.js"></script>
    <script src="../static/assets/js/animated.headline.js"></script>
    <script src="../static/assets/js/jquery.magnific-popup.js"></script>

    <!-- Date Picker -->
    <script src="../static/assets/js/gijgo.min.js"></script>
    <!-- Nice-select, sticky -->
    <script src="../static/assets/js/jquery.nice-select.min.js"></script>
    <script src="../static/assets/js/jquery.sticky.js"></script>

    <!-- counter , waypoint -->
    <script src="../static/assets/js/jquery.counterup.min.js"></script>
    <script src="../static/assets/js/waypoints.min.js"></script>
    <script src="../static/assets/js/jquery.countdown.min.js"></script>
    <!-- contact js -->
    <script src="../static/assets/js/contact.js"></script>
    <script src="../static/assets/js/jquery.form.js"></script>
    <script src="../static/assets/js/jquery.validate.min.js"></script>
    <script src="../static/assets/js/mail-script.js"></script>
    <script src="../static/assets/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="../static/assets/js/plugins.js"></script>
    <script src="../static/assets/js/main.js"></script>
  </body>
</html>
